label, input, textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
    font-family: "Spartan";
}

em {
    color: #f45702;
    font-weight: bold;
}

input, textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #f8f4e5;
    padding-left: 5px;
    outline: none;
    margin-bottom: 24pt;
}

input:focus, textarea:focus {
    border: 1px solid #6bd4b1;
}

textarea {
    resize: none;
}

button {
    display: block;
    float: right;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    background: #f45702;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

button:hover {
    background: inherit;
    color: #f45702;
    border-bottom: 2px solid #f45702;
}

::selection {
    background: #ffc7b8;
}

span {
    font-size: 10pt;
    color: red;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}

#form-candidate {
    width: 590px;
}

#form-employer {
    display: none;
    width: 590px;
}

.label-choice {
    margin-bottom: 25px;
}

.label-register {
    text-align: center;
    margin-bottom: 20px;
}

.choice {
    display: flex;
    justify-content: space-between;
}

.employer {
    display: flex;
}

.candidate {
    display: flex;
}

#employer, #candidate {
    width: 20px;
    margin-top: 9px;
    margin-right: 5px;
}

#a {
    display: grid;
    justify-items: center;
    background: url("../images/background.jpg");
    font-size: 12pt;
    color: #2A293E;
    background-size: cover;
}

.contact-us {
    background: #f8f4e5;
    padding: 50px 100px;
}

#employer-button {
    margin-top: 24pt;
}

.tag {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.input-checkbox {
    margin-right: 10px !important;
}
